<div class="content-wrapper">
  <div class="left-container">
    <h2>MY PAGE</h2>
    <img src="../assets/login.png" width="512px" height="512px" alt="login-icon">
  </div>
  <div class="right-container">
    <h2>Welcome to the Login page!</h2>
    <p>Please login to continue</p>
    <div class="username-container">
      <label class="username">
        Username or Email:
      </label>
      <br>
      <input class="username-box" type="text" placeholder="Enter Username or Email" required>
    </div>
    <br>
    <div class="password-container">
      <label class="password">
        Password:
      </label>
      <a href="#">
        <small>Forgot Password?</small>
      </a>
      <br>
      <input class="password-box" type="password" placeholder="Enter Password" required>
    </div>
    <br>
    <div class="check-box">
      <input type="checkbox">
      <label class="check-text">Remember me for next time login</label>
    </div>
    <br>
    <button [routerLink]="'/home-page'">LOGIN</button>
    <br>
    <br>
    <span>Don't have an account? </span>
    <a href="#">Create an account</a>
  </div>
</div>
